* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.heading-text span {
  font-weight: 100;
}

ul {
  list-style: none;
}

nav {
  margin: 15px;
}

p {
  text-decoration: none; 
  font-family: Helvetica, sans-serif; 
  font-size: 15px; /* Adjust the font size */
  color: #6c6c6c; /* Adjust the font color */
}

#back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: rgb(116, 122, 119);
  font-size: 3vw;
  margin-left: 10px;
  cursor: pointer;
  z-index: 99;
}
#back-button:hover{
  color:rgb(156, 164, 160);
}

@media (max-width: 500px) {
    #back-button {
  font-size: 5vw;
    }
}