section p {
  white-space: normal;
  font-family: Helvetica, sans-serif; 
  font-size: 15px; 
  line-height: 1;
  color: #808080; 
  margin: 5px 30px; 
}

footer p {
  font-family: Helvetica, sans-serif; 
  font-size: 15px; 
  line-height: 1;
  color: #808080; 
  margin: 5px 30px; 
}

footer {
  margin-bottom: 30px;
}